<div class="p-4 bg-primary box-header d-flex justify-content-between">
    <div class="box-size-wid60 d-flex justify-content-around">
        <input type="hidden" id="id" value="{{principal.id}}">
        <div class="box-footer-btn">
            {{#store}}
            <a href="/s/ready" id="btn-ready" class="btn footer-btn">준비</a>
            {{/store}}
            {{#ready}}
            <a href="/s/store" id="btn-shop" class="btn footer-btn">상점</a>
            {{/ready}}
        </div>
        <div class="box-footer-btn ">
            <button type="button" class="btn footer-btn" id="btn-recovery">회복</button>
        </div>
    </div>
    <div class="box-size-wid40 d-flex justify-content-around">
        <div class="box-footer-weapon">
            <img class="full" src="/image/html.png">
            <div class="d-flex justify-content-center">
                <input type="text" id="html" class="footer-weapon-text  text-center" value="x{{principal.rpg.html}} "
                    readonly>
            </div>
        </div>
        <div class="box-footer-weapon">
            <img class="full" src="/image/java.png">
            <div class="d-flex justify-content-center">
                <input type="text" id="java" class="footer-weapon-text  text-center" value="x{{principal.rpg.java}} "
                    readonly>
            </div>
        </div>
        <div class="box-footer-weapon">
            <img class="full" src="/image/jsp.png">
            <div class="d-flex justify-content-center">
                <input type="text" id="jsp" class="footer-weapon-text  text-center" value="x{{principal.rpg.jsp}} "
                    readonly>
            </div>
        </div>
        <div class="box-footer-weapon">
            <img class="full" src="/image/spring.png">
            <div class="d-flex justify-content-center">
                <input type="text" id="spring" class="footer-weapon-text  text-center"
                    value="x{{principal.rpg.spring}} " readonly>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/js/common.js"></script>
</body>

</html>