<div class="p-4 bg-primary box-header d-flex justify-content-between">
    <div class="box-size-wid60 d-flex justify-content-around">
        <div class="box-footer-btn">
            {{#store}}
            <a href="/s/ready" class="btn footer-btn">준비</a>
            {{/store}}
            {{#ready}}
            <a href="/s/store" class="btn footer-btn">상점</a>
            {{/ready}}
        </div>
        <div class="box-footer-btn ">
            <button type="button" class="btn footer-btn" id="btn-recovery">회복</button>
        </div>
    </div>
    <div class="box-size-wid40 d-flex justify-content-around">
        <div class="box-footer-weapon">
            <img class="full" src="/image/html.png">
            <div class="footer-weapon-text">
                <p id="html">x15</p>
            </div>
        </div>
        <div class="box-footer-weapon">
            <img class="full" src="/image/java.png">
            <div class="footer-weapon-text" id="java">
                <p id="java">x30</p>
            </div>
        </div>
        <div class="box-footer-weapon">
            <img class="full" src="/image/jsp.png">
            <div class="footer-weapon-text" id="jsp">
                <p id="jsp">x1</p>
            </div>
        </div>
        <div class="box-footer-weapon">
            <img class="full" src="/image/spring.png">
            <div class="footer-weapon-text" id="spring">
                <p id="spring">x5</p>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/js/common.js"></script>
</body>

</html>