
.flex {
    display: flex;
  justify-content: center;
}

.box_bg {
    background-image: url("/image/battleBG.png");
    background-size: 100%;
    background-position: center;
}

.box_top {
    height: 70%;
}

.box_top_top {
    height: 30%;
}

.hpborder {
    border: 3px solid white;
    width: 45%;
}

.vsbar {
    width: 10%;
}

.text-font {
    font-family: 'nice';
    font-size: 30px;
    color: white;
    font-weight: 900;
}

.box_top_bottom {
    height: 70%;
}

.img-top-box {
    height: 55%;
}

.img-bottom-box {
    height: 45%;
}

.img-size {
    width: 250px;
    height: 250px;
    max-width: 100%;
}

.img-user-position {
    position: relative;
    left: 70px;
}

.img-monster-position {
    position: relative;
    right: 43%;
    bottom: 100%;
}

.box-bottm {
    width: 100%;
    height: 30%;
}

.box-text {
    width: 50%;
    height: 100%;
}

.box-button {
    width: 30%;
    height: 80%;
    margin: 5px;
    background: transparent;
}

.img-attack {
    position: absolute;
    right: 48%;
    top: 32%;
}

.img-monster-attack {
    position: absolute;
    right: 15%;
    top: 0%;
}



input {
    width: 100%;
}
