* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'nice';
    src: url('/font/HSGyeoulNoonkott2.0-Regular.ttf') format('truetype');
}

.box-bg {
    background-image: url("/image/loginBG.png");
    background-size: 100%;
    background-position: center;

}

.box-main {
    padding-top: 5%;
    height: 90%;
    width: 100%;
}

.box-main-text {
    height: 15%;
    width: 100%;
}

.box-img {
    height: 20%;
    width: 100%;
}

.box-login {
    height: 15%;
    width: 100%;
}

.box-remember {
    height: 5%;
    width: 100%;
}

.box-btn {
    height: 20%;
    width: 100%;
}

.main-font {
    font-family: 'nice';
    font-size: 70px;
    color: #06ECfb;
    font-weight: 900;
}

.login-font {
    font-family: 'nice';
    font-size: 50px;
    color: #06ECfb;
    font-weight: 300;
}

.remember-font {
    font-family: 'nice';
    font-size: 20px;
    color: #06ECfb;
    font-weight: 300;
}

.button-font {
    font-family: 'nice';
    font-size: 40px;
    color: #06ECfb;
    font-weight: 300;
}

.button-font:hover {
    font-family: 'nice';
    font-size: 40px;
    color: #75d9d4;
    font-weight: 300;
}

.wid40 {
    width: 40%;
}

.wid25 {
    width: 25%;
}