<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/battlePage.css">
    <link rel="stylesheet" href="/css/common.css">
    <style>

    </style>
</head>

<body>
    <!-- 전체화면 시작 -->
    <div class="box_bg box-all" id="bg">
        <!-- top 시작 -->
        <div class="container-fluid box_top">
            <input type="hidden" value="{{principal.id}}" id="id">
            <input type="hidden" value="{{principal.coin}}" id="user-coin">
            <input type="hidden" value="{{principal.rpg.html}}" id="html">
            <input type="hidden" value="{{principal.rpg.java}}" id="java">
            <input type="hidden" value="{{principal.rpg.jsp}}" id="jsp">
            <input type="hidden" value="{{principal.rpg.spring}}" id="spring">
            <input type="hidden" value="{{principal.rpg.attack}}" id="user-power">
            <input type="hidden" value="1000" id="monster-power">
            <!-- hp바 시작 -->
            <div class="box_top_top pt-3">
                <div class="d-flex mb-3">
                    <div class="hpborder" id="user-box">
                        <div class="p-2 bg-danger full" id="user-hpbar">
                        </div>
                    </div>
                    <div class="p-2 d-flex flex-wrap align-content-center justify-content-center vsbar">
                        <div class="text-font">VS</div>
                    </div>
                    <div class="hpborder d-flex justify-content-end">
                        <div class="p-2  bg-danger full" id="monster-hpbar">
                        </div>
                    </div>
                </div>
                <!-- hp바 끝 -->
                <!-- 캐릭터 설명 시작 -->
                <div class="d-flex justify-content-between mb-3">
                    <div class="mb-3 d-flex flex-column">
                        <div class="mb-3">
                            <input type="text" class="text-font" value="{{principal.rpg.hp}}/{{principal.rpg.maxHp}}"
                                id="user-hptext" readonly>
                            <input type="text" class="text-font" value="{{principal.nickname}}" id="user-name" readonly>
                        </div>
                    </div>
                    <div class="mb-3 d-flex flex-column">
                        <input type="text" value="100/100" class="text-right text-font" id="monster-hptext" readonly>
                        <input type="text" class="text-right text-font" id="monster-name" value="최주호" readonly>
                        <input type="text" class="text-right text-font" value="가나다라마바사" readonly>
                    </div>
                </div>
            </div>
            <!-- 캐릭터 설명 끝 -->
            <!-- 캐릭터 이미지 시작 -->
            <div class="box_top_bottom">
                <div class="img-top-box"></div>
                <div class="d-flex justify-content-between img-bottom-box">
                    <div class="img-user-position" id="user-image">
                        <img src="/image/user.png" class="img-size" hidden>
                    </div>
                    <div class="img-monster-position ">
                        <img src="/image/monster.png" class="img-size" id="monster-image">
                    </div>
                </div>
            </div>
            <!-- 캐릭터 이미지 끝 -->
        </div>
        <!-- top 끝 -->

        <!-- bottom 시작 -->
        <div class="d-flex box-bottm">
            <!-- 전투 설명 시작 -->
            <div class="box-text">
                <textarea class="full text-font" id="textbox" cols="30" readonly></textarea>
            </div>
            <!-- 전투 설명 끝 -->
            <!-- 버튼 시작 -->
            <div class="d-flex flex-wrap align-content-center justify-content-center box-text">
                <div class="box-button">
                    <button type="button" class="btn btn-secondary full text-font" id="btn-attack">공격 (평타)</button>
                </div>
                <div class="box-button">
                    <button type="button" class="btn btn-secondary full text-font" id="btn-skil">스킬(hp소모)</button>
                </div>
                <div class="box-button">
                    <button type="button" class="btn btn-secondary full text-font" id="btn-run">땡땡이 (도망)</button>
                </div>
            </div>
            <!-- 버튼 끝 -->
        </div>
        <!-- bottom 끝 -->
        <img src="/image/attack.gif" class="img-attack" id="attack-image">
        <img src="/image/monster-attack.gif" class="img-monster-attack" id="monster-attack-image">
    </div>

    <!-- 전체화면 끝 -->
    <script src="/js/battlepage.js"></script>
    <script src="/js/common.js"></script>
</body>

</html>