{{>/layout/header}}
<link rel="stylesheet" href="/css/ddong.css">
<div id="box" class="container ddong-body">
    <div class="ddong-body">
        <div class="ddong-main-body">
            <div id="rain-ddong" class="d-flex">
            </div>
        </div>
        <div class="ddong-main-bottom d-flex justify-content-center align-items-end">
            <div id="char" class="box-char">
                <img id="char-img" class="full" src="/image/run-left.gif">
            </div>
        </div>
    </div>

    <div id="ddong-footer" class="p-5 bg-primary text-white rounded ddong-footer ">
    </div>
    
</div>
</div>

<script src="/js/common.js"></script>
<script src="/js/ddong.js"></script>

</body>

</html>