{{>/layout/header}}
<link rel="stylesheet" href="/css/main.css">

<div class="box-body">
    <div class="box-body-half d-flex justify-content-center align-items-center">
        <!-- Carousel -->
        <div id="demo" class="carousel slide box-carousel" data-bs-ride="carousel">

            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            </div>

            <!-- The slideshow/carousel -->
            <div class="carousel-inner full">
                <div class="carousel-item active full">
                    <a href="/s/ready">
                        <img src="/image/greenrandomingame.png" class="d-block full">
                        <div class="carousel-caption carousel-text">
                            <p>그린 랜덤 알피지</p>
                            <p>최고의 강사 악당 최주호물리치기!!</p>
                        </div>
                    </a>
                </div>
                <div class="carousel-item full">
                    <img src="/image/ddong.png" class="d-block full">
                    <div class="carousel-caption carousel-text  ">
                        <p>책피하기</p>
                        <p>개발중!!</p>
                    </div>
                </div>
                <div class="carousel-item full">
                    <img src="/image/cookierun.jpg" class="d-block full">
                    <div class="carousel-caption carousel-text  ">
                        <h3>쿠키런</h3>
                        <p>개발예정!!</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
    <div class="box-body-half d-flex align-items-center">
        <div class="d-flex justify-content-center box-game">
            <div class="col-xl-1">
            </div>
            <div class="col-xl-2">
                <a href="/s/ready">
                    <img class="full" src="/image/randomrpglogo.jpg">
                </a>
                <a href="/s/ready" class="game-text">
                    <p class="text-center">그린랜덤알피지</p>
                </a>
            </div>
            <div class="col-xl-1">
            </div>
            <div class="col-xl-2">
                <img class="full" src="/image/ddonglogo.jpg">
                <p class="game-text text-center">책피하기(예정)</p>
            </div>
            <div class="col-xl-1">
            </div>
            <div class="col-xl-2">
                <img class="full" src="/image/cookierunlogo.jpg">
                <p class="game-text text-center">쿠키런(예정)</p>
            </div>
            <div class="col-xl-1">
            </div>
        </div>
    </div>
</div>
</div>
</body>

</html>