{{>/layout/header}}

<body>

    <div class="container mt-3">

        <form class="d-flex justify-content-end">
            <input id="keyword" class="me-2" type="text" placeholder="Search">
            <button id="btn-search" class="btn btn-primary" type="button">검색</button>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>등수</th>
                    <th>닉네임</th>
                    <th>점수</th>
                </tr>
            </thead>
            <tbody id="board-box">
                
            </tbody>
        </table>
    </div>


</body>

</html>

<script src="/js/ranking.js"></script>