{{>/layout/header}}
<div class="box-body">

    <body onload="loaded()" onkeydown="keydown()" onkeyup="keyup()" onkeypress="keypress()">
        <canvas width="700" height="500"
            style="border: 2px solid black;position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);"
            id="c1"></canvas>
        <script src="/js/ReadybattleTest.js"></script>
</div>
{{>/layout/footer}}